<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home Page</h1>
    <a href="/all">Go to all products from Maybelline</a>
    <a href="/myCard"> Go to my Card Page</a>
    <h2>Search by price </h2>
    <form action="/byPrice" method="POST">
    <input type="text" name="brand" id="brand" placeholder="Brand-Name">
    <input type="text" name="grater" id="grater" placeholder="price more then">
    <input type="text" name="less" id="less" placeholder="price less than">
    <input type="submit" value="Search">
    </form>
</body>
</html>