<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Card</title>
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <h1>My Card</h1>
    <a href="/">Home</a>
    <br>
    <a href="/all">Go to all products from Maybelline</a>
    <br>
    <a href="/myCard"> Go to my Card Page</a>
    <br>
    <section class="cards">
       
        <% if (card.length ===0){ %> 
            <h2 class="no">No Products in Your Card</h2>
            <% } %> 
            <% if ( card.length !== 0 ){ %> 

        <% card.forEach (item=>{ %>
            <section>
                <!-- name, price, image, and View-Details button).  -->
                <h2><%= item.name %> </h2>
                <h3><%= item.price %> </h3>
                <img src="<%= item.image %> " alt="">
                <form action="/myCard/<%= item.id %> " method="GET">
                <input type="submit" value="View-Details">
                </form>
            </section>
            <br>
       <% }) %> 
       <% } %> 

    </section>
</body>
</html>