<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product By Price</title>
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <h1>Product By Price</h1>
    <a href="/">Home</a>
    <br>
    <a href="/all">Go to all products from Maybelline</a>
    <br>
    <a href="/myCard"> Go to my Card Page</a>
    <br>
    <section class="cards">
    <% card.forEach(item=>{ %>
        <section>
            <h2><%= item.name %> </h2>
            <h3><%= item.price %> </h3>
            <img src="<%= item.api_featured_image %> " alt="">
            <p><%= item.description %> </p>
        </section>

    <% }) %> 
</section>
</body>
</html>